@media (max-width: 500px) {
  .sp_fl {
    width: 100%;
    background-color: gold;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */

    margin-left: 0;
  }
  .hide {
    display: none !important;
  }

  .sp_wid {
    width: fit-content;
    height: fit-content !important;
  }
}
  /* .sp_wif {
    width: 100vw;
    height: fit-content !important;
    display: flex;
    justify-content: center !important;
  }
} */
