@media (max-width: 500px) {
  .sp_fl {
    /* width: 100%; */
    width: auto;
    /* background-color: gold; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-left: 0;
    height: auto;
  }
  .hide {
    display: none !important;
  }

  .sp_wid {
    width: fit-content;
    height: fit-content !important;
  }
}

