@media (
    max-width: 700px
) {
    .md_fl {
        width: 100vw;
        display: flex ;
        flex-direction: column !important;
        align-items: center !important;
    }
    .hide {
        display: none;
    }



}